<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Generate token for Notifications</strong>
    <ion-button (click)="requestPermissions()" expand="full" color="primary">Request permissions for PushNotification</ion-button>
  </div>
</ion-content>
